{% extends 'base.html.twig' %}

{% block title %}Claims index{% endblock %}

{% block body %}
    <h1>Claims index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Files</th>
                <th>User</th>
                <th>Status</th>
                <th>created_at </th>
                <th>updated_at </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for claim in claims %}
            <tr>
                <td>{{ claim.id }}</td>
                <td>{{ claim.text }}</td>
                <td><img height="200" width="200" src="{{ asset('uploads/claims/')~claim.files }}" alt="file"/></td>
                <td>{{ claim.u_name }}</td>
                <td>{{ claim.status }}</td>
                <td>{{ claim.created_at }}</td>
                <td>{{ claim.updated_at }}</td>
                <td>
                    <a href="{{ path('app_claims_show', {'id': claim.id}) }}">show</a>
                    <a href="{{ path('app_claims_edit', {'id': claim.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_claims_new') }}">Create new</a>
{% endblock %}
