{% extends 'base.html.twig' %}

{% block title %}Claims{% endblock %}

{% block body %}
    <h1>Claims</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ claim.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ claim.text }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td><img height="200" width="200" src="{{ asset('uploads/claims/')~claim.files }}" alt="file"/></td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ claim.user_name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ claim.status }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_claims_index') }}">back to list</a>
    <a href="{{ path('app_claims_edit', {'id': claim.id}) }}">edit</a>
    {{ include('claims/_delete_form.html.twig') }}
    <h1>Comments </h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Files</th>
            <th>User</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.text }}</td>
                <td><img height="200" width="200" src="{{ asset('uploads/comments/')~comment.files }}" alt="file"/></td>
                <td>{{  comment.user_name }}  </td>
                <td>
                    <a href="{{ path('app_comments_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_comments_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_comments_new',{'id': claim.id}) }}">Create new</a>
{% endblock %}
